<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

<!-- 在配置文件中打开注解aop的开发-->
    <aop:aspectj-autoproxy/>

    <!--配置目标类======-->
    <bean id="oderDao" class="com.itheima.spring.demo1.OderDao"></bean>
    <!--配置切面类-->

    <bean id="myAspectAnno" class="com.itheima.spring.demo1.MyAspectAnno"></bean>


</beans>