<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">
     <bean id="userDAO" class="com.itheima.spring.demo1.impl.UserDAOImpl">
         <property name="name" value="李东"></property>
     </bean>
    <bean id="customerDAO" class="it.heima.spring.demo2.impl.CustomerDAOImpl" scope="prototype"  init-method="setup" destroy-method="destroy"></bean>
    <!--构造方法注入-->
    <bean id="car" class="com.itheima.spring.demo4.Car">
        <constructor-arg name="name" value="宝马" />
        <constructor-arg name="price" value="800000"/>
    </bean>
    <!--set方法注入-->
   <!-- <bean id="car2" class="com.itheima.spring.demo4.Car2">
        <property name="name" value="奔驰"></property>
        <property name="price" value="900000"></property>
    </bean>-->

    <!--Set方法注入对象类型的属性-->
    <!--<bean id="employee" class="com.itheima.spring.demo4.Employee">
        <property name="name" value="涛哥"></property>
        <property name="car2" ref="car2"></property>
    </bean>-->

    <!--SpEl属性注入-->
    <bean id="car2" class="com.itheima.spring.demo4.Car2">
        <property name="name" value="#{'三镚子'}"></property>
        <property name="price" value="#{3000}"></property>
    </bean>
    <bean id="employee" class="com.itheima.spring.demo4.Employee">
        <property name="name" value="#{'赵洪'}"/>
        <property name="car2" value="#{car2}"/>
    </bean>

    </beans>