<component name="ArtifactManager">
  <artifact type="exploded-war" name="spring4_day2:war exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/spring4_day2_war_exploded</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="spring4_day2/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="spring4_day2" />
        </element>
      </element>
    </root>
  </artifact>
</component>